<p id="notice"><%= notice %></p>

<h1>Proyectos recientes:</h1>

<% if @articles.length > 0 %>
  <table class="index-table">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Cuerpo</th>
        <th>Descripcion</th>
        <th>Encargado</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= link_to article.title, article %></td>
          <td><%= article.body %></td>
          <td><%= article.summary %></td>
          <td><%= article.user.email%></td>
          <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <span class="info-empty-list">
    Oh Oh... No hay proyectos registrados aun.
  </span>
<% end %>

<br/>

<% if user_signed_in? and 
      current_user.has_role? "poster" %>
    <strong>
      <%= link_to "Publicar articulo", new_article_path , style: "color: blue", class: "btn btn-primary"%>
    </strong>
<% end %>
