
<p id="notice"><%= notice %></p>

<h1>
  <%= @article.title %>
</h1>

<br/>

<section id="article-summary">
	<%= @article.summary %>
</section>

<br/>

<section id="article-body">
	<%= @article.body %>
</section>

<p>
  <small>Publicado por:</small>
  <small><%= link_to @article.user.email, @article.user %></small>
</p>
<p>
  <small>Encargado:</small>
  <small><%= link_to @article.user.username, @article.user %></small>
</p>

<% if user_signed_in? and current_user.has_role? :poster %>
  <br/>
  <%= link_to 'Edit', edit_article_path(@article) %>
  <%= button_to "Delete",  @article, method: :delete, class: "btn btn-danger",
  confirm: "Are you sure that you wish to delete this article?" %>
<% end %>
