<h1>Contacto</h1>
<br/>

<strong>Direccion</strong>
<p>
	Enitel 4C 1/2  al Sur contiguo a farmacia Divino Niño, Somoto
</p>
<br/>
<strong>Telefono:</strong>
<a href="#">+505 27220947</a>

<br/>

<p>
	<strong>Correo Electronico:</strong>
	<a href="#">info@ucom.org.ni</a>
</p>
