<h1 id="home-title">
	Pagina de inicio para UCOM
</h1>

<br/>

<section class="articles-container content-block">
	<h2 class="articles-container-title">Proyectos recientes:</h3>
	<ul class="articles-list">
		<% @lastest_projects.each do |project| %>
			<li linksto="<%= article_path(project) %>" class="articles-item linkable">
				<% title_size = 25 %>
    			<span class="articles-item-title">
    				<%= project.title[0..title_size] %>
    				<% if project.title.length > title_size %>
    				...
    				<% end %>
    			</span>
    			<span class="articles-item-desc">
    				<small>
    					<%= project.summary[0..25] %><% if project.summary.length > 25 %>...
	    				<% end %>
    				</small>|
    				<small>
    					<%= project.created_at.strftime("%F %H:%M") %>
    				</small>
    			</span>
			</li>
		<% end %>
	</ul>
</section>
<br/>
<hr/>

<section class="org-info">
	<h2>
		Informacion de UCOM
	</h2>
	<% @page_info.each do |info_item| %>
		<section class="org-info-item content-block">
			<h2 class="org-info-item-title">
				<%= info_item['title'] %>
			</h2>

			<section class="org-info-text" style="white-space: pre-wrap"><%= info_item['text'] %></section>
			
		</section>
	<% end %>
</section>
