<p id="notice"><%= notice %></p>

<p id="username">
  <strong><%= @user.name %></strong>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
