/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import 'bootstrap';

*{
	margin:0;
	padding:0;
}

a{
	text-decoration: none;
}

header{
	background: #22ff1977;
	border-radius: 3px;
	height: 3vh;

	margin: 0;// 3vh 0 3vh 0;
	padding: 3vh 0 3vh 0;
	white-space: nowrap;
	a#page-logo{
		display: inline-block;
		font-size: 2em;
		font-weight: bold;
		margin: auto;
		padding-left: 2vh;
		text-decoration: none;
		vertical-align: middle;
		widows: 8%;
	}

}

.pull-right{
	width: 38%;
	margin: auto;
	display: inline-block;
	text-align: right;
}

#navbar{
	display: inline-block;
	list-style: none;
	width: 50%;
	margin:auto;

	li{
		display: inline-block;
		margin: 0 1em;
		a{
			text-decoration: none;
			display: flex;
		}
	}
}

#wrapper{
	padding-top: 80px;
	margin-left: 5vh;
	h1{
		text-align: center;
		margin-bottom: 1em;
	}
}

.info-empty-list{
	color: lightgray;
  	display: block;
  	font-size: 250%;
  	font-family: Lucida Sans;
	margin-top: 10vh;
	line-height: 100%;  
  	text-align: center;
}

.btn{
	background-color: rgba(22, 22, 22, 0.068);
	border: 1em;
	border-color: red;
	border-radius: 5px;
}

.btn:hover{
	background-color: rgb(255, 129, 129);
	color: rgb(44, 44, 44);
}

.index-table{
	display: block;
	margin: 0 auto;
	text-align: left;
	width: 80%;
}
