// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#article-summary{
	font-size: .8em;
	text-align: center;
}

#article-body{
	display: block;
	margin: 5vh 0 5vh 10vh;
	max-width: 60%;
	text-align: justify;
}

#article-body{
	width: 50%;
}
