// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Styles for the home page

.org-info{
	margin-top: 3vh;
	text-align: justify;
	
	.org-info-item{
		min-height: 30vh;
		vertical-align: top;
		max-width: 20vw;
		min-width: 35vh;
		margin: 2vh;
		display: inline-block;
		.org-info-item-title{
			margin-bottom: 1vh;
			font-size: 1.5em;
		}

		.org-info-text{
			font-size: .7em;
			line-height: 1.4em;
			margin: 1vh;
		}
	}
}

// .org-info-item:hover{
// 	max-width: 60vh;
// 	font-size: 1.2em;
// 	box-shadow: 5px 5px 20px black;
// }

.content-block{
	background: #00000011;
	border-radius:5px;
}

.articles-container{
	
	display: block;
	margin: 0;
	max-width: 95%;
	max-height: 30vh;
	min-height: 20vh;
	overflow-x: auto;
	overflow-y: hidden;

	white-space: nowrap;
	.articles-list{
		display: block;
		list-style: none;
		margin-top: 4vh;
		.articles-item{
			border-radius: 5px;
			background: #00000011;
			display: inline-block;
			font-size: 1.6em;
			margin: 5px;

			padding: 3% 5%;
			
			user-select: none;

			.articles-item-title{
				display: block;
			}

			.articles-item-desc{
				font-size: 50%;
			}
			:hover{
				background-color: rgba($color: #fff, $alpha: 0.0)
			}
		}
		:hover{
			background: #3f3a;
			color: #000;
			cursor: pointer;
			animation: all 1 ease-in;
		}
	}
	.articles-container-title{
		position: absolute;
		margin: 5px;
	}
}

// Styles for the autentication forms

