<% if !flash[:notice].blank? %>
   <div>
    <%= flash[:notice] %>
   </div>
<% end %>

<h1> Biblioteca </h1>

<% if !@resumes.empty? %>
  <section class="index-table">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Descarga</th>
          <th> </th>
        </tr>
      </thead>
      
      <tbody>
        <% @resumes.each do |resume| %>
          <tr>
          <td><%= resume.name %></td>
          <td><%= User.find(resume.user_id).email %></td>
          <td><%= link_to "Descargar archivo", resume.attachment_url %></td>
          <% if user_signed_in? and resume.user_id == current_user.id %>
            <td><%= button_to "Borrar",  resume, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resume.name}?" %></td>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

<% else %>

  <span class="info-empty-list">
    Oh Oh... No hay archivos subidos aun.
  </span>

<% end %>

<br/>

<% if user_signed_in? and current_user.has_role? :poster %>
  <strong>
    <%= link_to "Subir Archivo", new_resume_path, style:"color:blue", class: "btn btn-primary" %>
  </strong>
  <br />
<% end %>
