<!DOCTYPE html>
<html>
  <head>
    
    <title>UCOM</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>
  <body>
  <% if params.has_key? :debug %>
    <%= console %>
  <% end %>
    <header>
      <a id="page-logo" href="/">UCOM</a>
      <nav id="navbar">
          <li>
            <a href="/articles">Proyectos</a>
          </li>
          <li>
            <a href="/contact">Contacto</a>
          </li>
          <li>
            <a href="/resumes">Biblioteca</a>
          </li>
      </nav>
      <section id = "navbar-right-container" class="pull-right">
        <span id="navbar-text">
        <% if user_signed_in? %>
          Usuario actual: <strong><%= current_user.email %></strong>.
          <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Iniciar sesion", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        </span>
      </section>

    </header>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <main id="wrapper">
      <%= yield %>
    </main>
  </body>
</html>